.login {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-image {
    margin-top: 25px;
    width: 86px;
  }

  &-form {
    width: 100%;
    &-group {
      position: relative;
      margin: 14px 0 31px 0;
      > label {
        position: absolute;
        left: 7px;
        top: -12px;
        padding: 0 4px;
        background: white;
        width: fit-content;
        font-size: 14px;
        font-weight: 600;
      }
      > input {
        width: 100%;
        padding: 13px 10px;
        border: 2px #dedede solid;
        border-radius: 5px;
        font-size: 18px;
        &::placeholder {
          color: #dedede;
        }
        // &:focus {
        //   outline: none;
        // }
      }
    }
    & button[type="submit"] {
      margin-top: -5px;
      width: 100%;
      height: 60px;
      background: #80c783;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      font-family: "Raleway", sans-serif;
      font-weight: 600;
    }
  }

  &-social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    &-or {
      display: flex;
      align-items: center;
      text-align: center;
      width: 100%;
      font-size: 14px;
      font-weight: 500;
      & hr {
        flex-grow: 1;
        height: 2px;
        border: none;
        background: #898989;
      }
    }
    &-links {
      margin-top: 13px;
      margin-bottom: 10px;
      display: flex;
      // align-items: center;
      justify-content: center;
      > a {
        display: inline-block;
        width: 80px;
        height: 80px;
        overflow: hidden;
      }
      > a:nth-child(2) {
        & img:nth-child(1) {
          transform: scale(1.1);
        }
      }
    }
    > span {
      font-size: 18px;
      font-weight: 500;
      > a {
        font-weight: 700;
        color: #0697fc;
      }
    }
  }

  &-forgot-password {
    display: block;
    margin: 12px 0;
    color: #0697fc;
    text-decoration: underline;
  }
}
