<div class="login">
  <div class="login-image">
    <img src="favicon.ico" alt="mybres-favicon">
  </div>
  <form action="" class="login-form">
    <div class="login-form-group">
      <label for="username">Email hoặc số điện thoại của bạn</label>
      <input type="text" placeholder="mail@mail.com or 090 269 xxx" name="username" id="username">
    </div>
    <div class="login-form-group">
      <label for="pass">Password</label>
      <input type="password" placeholder="**********" name="pass" id="pass">
    </div>
    <button type="submit">Đăng nhập</button>
  </form>
  <a routerLink="/forgot-password" class="login-forgot-password">Quên mật khẩu?</a>
  <div class="login-social">
    <div class="login-social-or">
      <hr>
      &nbsp;hoặc&nbsp;
      <hr>
    </div>
    <div class="login-social-links">
      <a href="">
        <img src="icons/apple.png" alt="">
      </a>
      <a href="">
        <img src="icons/apple.png" alt="">
      </a>
    </div>
    <span>Bạn chưa có tài khoản <a routerLink="/register">Đăng ký</a></span>
  </div>
</div>
