<div class="register">
  <div class="register-image">
    <img src="favicon.ico" alt="mybres-favicon">
  </div>
  <form action="" class="register-form">
    <div class="register-form-group">
      <label for="name">Tên</label>
      <input type="text" placeholder="yamaguchi" name="name" id="name">
    </div>
    <div class="register-form-group">
      <label for="email">Email của bạn</label>
      <input type="email" placeholder="mail@mail.com" name="email" id="email">
    </div>
    <div class="register-form-group">
      <label for="pass">Mật khẩu</label>
      <input type="password" placeholder="**********" name="pass" id="pass">
    </div>
    <button type="submit">Tiếp tục</button>
  </form>
  <div class="register-social">
    <div class="register-social-or">
      <hr>
      &nbsp;hoặc&nbsp;
      <hr>
    </div>
    <div class="register-social-links">
      <a href="">
        <img src="img/icons/apple.png" alt="">
      </a>
      <a href="">
        <img src="img/icons/google.png" alt="">
      </a>
    </div>
    <span>Bạn đã có tài khoản <a routerLink="/login">Đăng nhập</a></span>
  </div>
</div>
