<div class="championship-intro">
<div class="championship-intro-title">
    MYBRES BADMINTON ASSOCIATION (MBBA)
</div>
<div class="championship-intro-content">
    Hệ thống giải đấu cầu lông có tính điểm thuộc
    <br/>
    MYBRES ASSOCIATION
</div>
</div>
<div class="championship-list">
    <a routerLink="/championship/detail/1" class="championship-list-item">
        <div class="championship-list-item-banner">
            <img src="images/championship.png" alt="" class="championship-list-item-banner-img">
            <div class="championship-list-item-banner-tag">
                Đang mở
            </div>
        </div>
        <div class="championship-list-item-title">
            [Đơn nam] MBBA MEN SINGLE TOURNAMENT 1700 (Yêu cầu >= 0 điểm và <= 4000 điểm)
        </div>
        <div class="championship-list-item-detail">
            <img src="images/rank.png" alt="" class="championship-list-item-detail-img">
            <div class="championship-list-item-detail-info">
                <div class="championship-list-item-detail-info-date">
                    <img src="icons/carlendar.png" alt="">
                    <p>
                        Chủ nhật, 2024/11/10 15:00
                        <br/>
                        Thứ sáu, 2024/11/08 07:19
                    </p>
                </div>
                 <div class="championship-list-item-detail-info-reward">
                    <img src="icons/trophy.png" alt="">
                    <p>800,000 VND + Quà</p>
                </div>
                 <div class="championship-list-item-detail-info-point">
                    <img src="icons/score.png" alt="">
                    <p>Cộng 1700 điểm</p>
                </div>
            </div>
        </div>
    </a>

    <a routerLink="/championship/detail/2" class="championship-list-item">
        <div class="championship-list-item-banner">
            <img src="images/championship.png" alt="" class="championship-list-item-banner-img">
            <div class="championship-list-item-banner-tag">
                Đang mở
            </div>
        </div>
        <div class="championship-list-item-title">
            [Đơn nam] MBBA MEN SINGLE TOURNAMENT 1700 (Yêu cầu >= 0 điểm và <= 4000 điểm)
        </div>
        <div class="championship-list-item-detail">
            <img src="images/rank.png" alt="" class="championship-list-item-detail-img">
            <div class="championship-list-item-detail-info">
                <div class="championship-list-item-detail-info-date">
                    <img src="icons/carlendar.png" alt="">
                    <p>
                        Chủ nhật, 2024/11/10 15:00
                        <br/>
                        Thứ sáu, 2024/11/08 07:19
                    </p>
                </div>
                 <div class="championship-list-item-detail-info-reward">
                    <img src="icons/trophy.png" alt="">
                    <p>800,000 VND + Quà</p>
                </div>
                 <div class="championship-list-item-detail-info-point">
                    <img src="icons/score.png" alt="">
                    <p>Cộng 1700 điểm</p>
                </div>
            </div>
        </div>
    </a>

    <a routerLink="/championship/detail/3" class="championship-list-item">
        <div class="championship-list-item-banner">
            <img src="images/championship.png" alt="" class="championship-list-item-banner-img">
            <div class="championship-list-item-banner-tag">
                Đang mở
            </div>
        </div>
        <div class="championship-list-item-title">
            [Đơn nam] MBBA MEN SINGLE TOURNAMENT 1700 (Yêu cầu >= 0 điểm và <= 4000 điểm)
        </div>
        <div class="championship-list-item-detail">
            <img src="images/rank.png" alt="" class="championship-list-item-detail-img">
            <div class="championship-list-item-detail-info">
                <div class="championship-list-item-detail-info-date">
                    <img src="icons/carlendar.png" alt="">
                    <p>
                        Chủ nhật, 2024/11/10 15:00
                        <br/>
                        Thứ sáu, 2024/11/08 07:19
                    </p>
                </div>
                 <div class="championship-list-item-detail-info-reward">
                    <img src="icons/trophy.png" alt="">
                    <p>800,000 VND + Quà</p>
                </div>
                 <div class="championship-list-item-detail-info-point">
                    <img src="icons/score.png" alt="">
                    <p>Cộng 1700 điểm</p>
                </div>
            </div>
        </div>
    </a>
</div>
