.previous-layout{
    &-header{
        background: #1a2948;
        padding: 16px;
        display: flex;
        align-items: center;
        color: #fff;
        position: relative;

        &-btn{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 12px;
            cursor: pointer;
            padding: 0 5px;
            margin-left: 6px;
            > i {
              font-size: 22px;
              color: white;
            }
        }

        &-title{
            width: 100%;
            text-align: center;
            font-size: 18px;
        }
    }

    &-content{
        padding: 0 12px;
        background: #fff;
        height: calc(100vh - 64px);
    }
}
