.championship-layout{
    &-title{
        background: #1a2948;
        color: #fff;
        text-align: center;
        padding: 18px 0;
    }

    &-header{
        background: #1a2948;

        &-wrapper{
            padding: 0 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-item{
            padding: 16px 0 12px;
            width: 25%;
            text-align: center;
            text-decoration: none;
            border-bottom: 4px solid #1a2948;
            color:#d8d6d6;
        }

        &-item.active{
            border-bottom: 4px solid #fff;
            color:#fff;
        }
    }
    
    &-intro{
        background: #9b27b0;
        text-align: center;
        padding: 16px 0;

        &-title{
            color: #fff;
            margin-bottom: 6px;
        }

        &-content{
            color: #dddcdc;
        }
    }
    
    &-content{
        padding: 0 12px;
    }
}