.navbar-layout{
    &-navbar{
        position: fixed;
        left: calc(50% - 225px);
        right: calc(50% - 225px);
        background: #fff;
        bottom: -2px;
         
        &-wrapper{
            padding: 16px 12px;
            display: flex;
            box-shadow: 0 -2px 8px rgb(148, 146, 146);
        }

        &-item{
            display: flex;
            width: 50%;
            justify-content: center;
            color: #a1aab9;
            transition: .25s;
        }

        &-item.active{
            color: #4edc84;
        }

        &-item:hover{
            opacity: 0.65;
            transition: .25s;
        }
    }

    &-content{
        background: #fff;
    }
}