<div class="user-layout">
  <div class="user-layout-header">
    <div class="user-layout-header-wrapper">
      <a routerLink="profile" class="user-layout-header-item active">
        Cá nhân
      </a>
      <a routerLink="activity" class="user-layout-header-item">
        Hoạt động
      </a>
      <a routerLink="group" class="user-layout-header-item">
        Nhóm
      </a>
      <a routerLink="partner" class="user-layout-header-item">
        Đồng đội
      </a>
    </div>
  </div>
  <div class="user-layout-content">
    <router-outlet></router-outlet>
  </div>
</div>
